<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Website</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <div id="root">
    this is the website
    
  </div>

  <div class="wrapper">
    <p class="paragraph">
      This is a paragraph
    </p>
  </div>
  <script src='/bundle.js' charset="utf-8"> </script>
</body>
</html>